.row {
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 100px 200px;
  background: #f8f4f4;
}

.left {
  max-width: 300px;

  margin-right: 20px;
}


@media (max-width: 900px) {
  .row {
    display: block;
    font-size: 1rem;
    padding: 100px 30px 40px 30px;
  }
}

@media (max-width: 414px) {
  .row {
    padding: 100px 10px 40px 10px;
  }
}
