.contactBanner {
    position: relative;

    background-image: url("../../assets/images/contactus2.jpg");
    background-size: cover;

    width: 100%;
    height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    line-height: 1.3;
}

.contactBanner::before {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    background-color: rgba(0, 0, 0, 0.4);
}
.contactBanner h1, 
.contactPath {
    position: relative;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
    text-transform: capitalize;
}


.contactTitle {
    color: white;
    font-size: 5rem;

    margin-bottom: 1rem;
}

.contactPath,
.contactPath a{
    color: white;
    font-size: 2rem;
    font-weight: 400;

    text-decoration: none;
}
.contactPath a:hover {
    color: red;
}


@media (max-width: 415px) {
    .contactBanner h1 {
        font-size: 4rem;
    }
    .contactPath {
        font-size: 1.7rem;
    }
}

@media (max-width: 376px) {
    .contactBanner h1 {
        font-size: 3.5rem;
    }
}